<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>groupname</key>
		<string>iOS开发</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>乔布斯</string>
				<key>mode</key>
				<string>best or nothing</string>
				<key>icon</key>
				<string>qbs</string>
			</dict>
			<dict>
				<key>name</key>
				<string>库克</string>
				<key>mode</key>
				<string>你会希望自己成为池塘中激起变革涟漪的那枚卵石</string>
				<key>icon</key>
				<string>kk</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美女</string>
				<key>mode</key>
				<string>今天会很残酷，明天会更残酷，后天会很美好，但大部分人会死在明天晚上。</string>
				<key>icon</key>
				<string>mv</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupname</key>
		<string>Android开发</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>乔布斯</string>
				<key>mode</key>
				<string>best or nothing</string>
				<key>icon</key>
				<string>qbs</string>
			</dict>
			<dict>
				<key>name</key>
				<string>库克</string>
				<key>mode</key>
				<string>你会希望自己成为池塘中激起变革涟漪的那枚卵石</string>
				<key>icon</key>
				<string>kk</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美女</string>
				<key>mode</key>
				<string>今天会很残酷，明天会更残酷，后天会很美好，但大部分人会死在明天晚上。</string>
				<key>icon</key>
				<string>mv</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>groupname</key>
		<string>Web开发</string>
		<key>friends</key>
		<array>
			<dict>
				<key>name</key>
				<string>乔布斯</string>
				<key>mode</key>
				<string>best or nothing</string>
				<key>icon</key>
				<string>qbs</string>
			</dict>
			<dict>
				<key>name</key>
				<string>库克</string>
				<key>mode</key>
				<string>你会希望自己成为池塘中激起变革涟漪的那枚卵石</string>
				<key>icon</key>
				<string>kk</string>
			</dict>
			<dict>
				<key>name</key>
				<string>美女</string>
				<key>mode</key>
				<string>今天会很残酷，明天会更残酷，后天会很美好，但大部分人会死在明天晚上。</string>
				<key>icon</key>
				<string>mv</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
